<%= form_with model: food do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_area :name %>
        <% food.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :calories %><br>
        <%= form.text_area :calories %>
        <% food.errors.full_messages_for(:calories).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>

    <div>
        <%= link_to "Home", foods_path %>
<% end %>