<!DOCTYPE html>
    <head>
        <title> Foods </title>
    </head>

    <div>
    <header>

        <%= button_to "logout", destroy_user_session_path, method: :delete, form_class: 'btn btn-logout' %>
    </header>
    </div>
    <body>
        <h1> Foods </h1>
        <p>
        <div>
            <ul class='foodList'>
                <% @foods.each do |food| %>
                        <li><%= link_to food.name, food, class: "btn btn-food" %></li><li>Calories: <%= food.calories %></li>
                <% end %>
            </ul>
        </div>
            Total Calories: <%= calorieSum(@foods) %></p>
            <%= link_to "Add New Food", new_food_path, class: "btn btn-new" %>
    </body>

    <footer>
        <p>Created By: Evan Hope</p>
        <p>Email: hopee1@tcnj.edu</p>
        <!-- <a class='footerLink' href="hopee1@tcnj.edu">hopee1@tcnj.edu</a> -->
    </footer>
</html>