<!DOCTYPE html>
    <head>
        <title> Foods </title>
    </head>

    <body>
        <%= button_to "logout", destroy_user_session_path, method: :delete %>
        <h1> Foods </h1>
        <p>
            <ul>
                <% @foods.each do |food| %>
                        <li><%= link_to food.name, food, class: "btn btn-food" %> Calories: <%= food.calories %></li>
                <% end %>
            </ul>
            Total Calories: <%= calorieSum(@foods) %></p>
            <%= link_to "Add New Food", new_food_path, class: "btn btn-new" %>
    </body>
</html>