<h1><%= @food.name %></h1>

<p><%= @food.calories %></p>

<ul>
    <li><%= link_to "Edit", edit_food_path(@food) %></li>
    <li><%= link_to "Destroy", food_path(@food),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
</ul>

<%= link_to "Home", foods_path%>