<h1><%= @food.name %></h1>

<%= link_to "Home", foods_path, class: "btn btn-show"%>


<p>Calories: <%= @food.calories %></p>
<ul>
    <%= link_to "Edit", edit_food_path(@food), class: "btn btn-show" %>
    <%= link_to "Destroy", food_path(@food),
                    method: :delete,
                    data: { confirm: "Are you sure?" } , class: "btn btn-show" %>
</ul>

