<!DOCTYPE html>
    <head>
        <title> Food Details </title>
    </head>

    <h1><%= @food.name %></h1>

    <body>
        <p>Calories: <%= @food.calories %></p>
        <ul class='showOptions'>
            <li><%= link_to "Home", foods_path, class: "btn btn-show"%></li>
            <li><%= link_to "Edit", edit_food_path(@food), class: "btn btn-show" %></li>
            <li><%= link_to "Destroy", food_path(@food),
                            method: :delete,
                            data: { confirm: "Are you sure?" } , class: "btn btn-show" %></li>
        </ul>
    </body>
</html>

